# Import libraries and data

In [1]:
import os
import openai
import pandas as pd
import numpy as np
import openpyxl

In [2]:
# Get OpenAI API secret key
open_ai_key = open('../data/local/openai_key.txt', 'r').read()
openai.api_key = open_ai_key
#openai.Model.list()

In [3]:
# Get annotated tweets
tweets = pd.read_csv('../data/local/labelled_tweets_clean.csv').reset_index()
#tweets['prompt'] = "Please give me the sentiment regarding vaccination in the following tweet: \"TWEET_TEXT_HERE\"\nUse one of the following words: neutral, negative, positive"
#tweets['prompt'] = tweets.apply(lambda x: x['prompt'].replace('TWEET_TEXT_HERE', str(x['text'])), axis = 1)
#tweets.head()

# Using three categories for vaccine sentiment

In [4]:
# Prompt for GPT
prompt_raw = "Please give me the sentiment regarding vaccination in the following tweet: \"TWEET_TEXT_HERE\"\nUse one of the following words: neutral, negative, positive"

In [5]:
#prompt_i = prompt_raw.replace('TWEET_TEXT_HERE', tweets.iloc[0,1])

In [5]:
len(tweets.index)

5321

In [6]:
test = tweets.iloc[0:2, :]
test

,index,id,text,label_tag
0,0,1234393136169807872,Nirbhaya case: Delhi Court dismisses convict P...,neutral
1,1,1234456868317208576,Today at the WH: -Meeting with Pres Duque of C...,neutral

In [7]:
tweets1 = tweets.iloc[0:306,:]
tweets2 = tweets.iloc[306:601,:]
tweets3 = tweets.iloc[601:901, :]
tweets4 = tweets.iloc[901:1201, :]

In [103]:
tweets13 = tweets.iloc[2670:,:]

In [104]:
id_gpt = []
sent_gpt = []

In [105]:
for i in range(0,295):
    prompt_i = prompt_raw.replace('TWEET_TEXT_HERE', tweets13.iloc[i,2])
    response = openai.Completion.create(
      model="text-davinci-003",
      prompt=prompt_i,
      temperature=0.7,
      max_tokens=256,
      top_p=1,
      frequency_penalty=0,
      presence_penalty=0
    )
    id_gpt.append(tweets13.iloc[i,0])
    sent_gpt.append(response.choices[0].text)

In [106]:
df_gpt_total = pd.DataFrame(list(zip(id_gpt, sent_gpt)),
                            columns = ['id_gpt', 'sentiment_gpt'])
df_gpt_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_gpt         295 non-null    int64
 1   sentiment_gpt  295 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.7+ KB

In [107]:
df_gpt_total.tail()

     id_gpt sentiment_gpt
290    2960   \n\nNeutral
291    2961  \n\nPositive
292    2962     \nNeutral
293    2963  \n\nPositive
294    2964  \n\nNegative

In [108]:
id_gpt13 = id_gpt
sent_gpt13 = sent_gpt
df_gpt_total13 = df_gpt_total

In [25]:
#df_gpt_total1.to_csv('../data/local/gpt_sentiment1.csv')
df_gpt_total1['sentiment_gpt2'] = df_gpt_total1['sentiment_gpt'].to_string()
print(type(df_gpt_total1['sentiment_gpt2']))

<class 'pandas.core.series.Series'>

In [30]:
#sent_gpt1.to_csv('../data/local/gpt_sentiment1_only.csv')

In [109]:
df_gpt_total13.to_excel('../data/local/gpt_sentiment13.xlsx')

# Using two categories for vaccine sentiment

In [6]:
tweets_pos_neg = tweets[tweets['label_tag'].isin(['positive', 'negative'])]
tweets_pos_neg.head()

,index,id,text,label_tag
18,18,1235574994924490752,@user @user I saw #VaxxedII yesterday and I ha...,negative
22,22,1236451808412909568,Dear anti-vaxxers. If you are legitimately wor...,positive
26,26,1237492335430250496,@user @user thank you for the vaccine LOL #Wel...,positive
28,28,1237894709306986496,Remember polio? Killed a lot of people. Vaccin...,positive
38,38,1239077015250030592,You be ready to pay what this Coronavirus vacc...,negative

In [7]:
prompt_raw_pos_neg = "Please give me the sentiment regarding vaccination in the following tweet: \"TWEET_TEXT_HERE\"\nUse one of the following words: negative, positive"

In [8]:
len(tweets_pos_neg.index)

1340

In [9]:
test = tweets_pos_neg.iloc[0:2, :]
test

,index,id,text,label_tag
18,18,1235574994924490752,@user @user I saw #VaxxedII yesterday and I ha...,negative
22,22,1236451808412909568,Dear anti-vaxxers. If you are legitimately wor...,positive

In [7]:
tweets_pos_neg1 = tweets_pos_neg.iloc[0:306,:]
tweets_pos_neg2 = tweets_pos_neg.iloc[306:601,:]
tweets_pos_neg3 = tweets_pos_neg.iloc[601:901, :]
tweets_pos_neg4 = tweets_pos_neg.iloc[901:1201, :]

In [103]:
tweets_pos_neg4 = tweets_pos_neg.iloc[901:1201, :]

In [11]:
id_gpt_two = []
sent_gpt_two = []

In [12]:
for i in range(0,1339):
    prompt_two_i = prompt_raw_pos_neg.replace('TWEET_TEXT_HERE', tweets_pos_neg.iloc[i,2])
    response_two = openai.Completion.create(
      model="text-davinci-003",
      prompt=prompt_two_i,
      temperature=0.7,
      max_tokens=256,
      top_p=1,
      frequency_penalty=0,
      presence_penalty=0
    )
    id_gpt_two.append(tweets_pos_neg.iloc[i,0])
    sent_gpt_two.append(response_two.choices[0].text)

In [17]:
prompt_two_1339 = prompt_raw_pos_neg.replace('TWEET_TEXT_HERE', tweets_pos_neg.iloc[1339,2])
response_two = openai.Completion.create(
      model="text-davinci-003",
      prompt=prompt_two_1339,
      temperature=0.7,
      max_tokens=256,
      top_p=1,
      frequency_penalty=0,
      presence_penalty=0
    )
id_gpt_two.append(tweets_pos_neg.iloc[1339,0])
sent_gpt_two.append(response_two.choices[0].text)

In [18]:
df_two_gpt_total = pd.DataFrame(list(zip(id_gpt_two, sent_gpt_two)),
                            columns = ['id_gpt_two', 'sentiment_gpt_two'])
df_two_gpt_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_gpt_two         1340 non-null   int64
 1   sentiment_gpt_two  1340 non-null   object
dtypes: int64(1), object(1)
memory usage: 21.1+ KB

In [19]:
df_two_gpt_total.tail()

      id_gpt_two sentiment_gpt_two
1335        5300      \n\nPositive
1336        5309      \n\nNegative
1337        5315      \n\nPositive
1338        5317      \n\nNegative
1339        5320      \n\nNegative

In [108]:
id_gpt13 = id_gpt
sent_gpt13 = sent_gpt
df_gpt_total13 = df_gpt_total

In [25]:
#df_gpt_total1.to_csv('../data/local/gpt_sentiment1.csv')
df_gpt_total1['sentiment_gpt2'] = df_gpt_total1['sentiment_gpt'].to_string()
print(type(df_gpt_total1['sentiment_gpt2']))

<class 'pandas.core.series.Series'>

In [30]:
#sent_gpt1.to_csv('../data/local/gpt_sentiment1_only.csv')

In [20]:
df_two_gpt_total.to_excel('../data/local/gpt_sentiment_pos_neg.xlsx')